html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.hidden {
  display: none;
}

textarea {
  resize: none;
}

.zoom-pan-area {
  pointer-events: all;
  cursor: move;
}

.node {
  pointer-events: all;
}

.node:hover,
.node:hover text {
  cursor: url(../resources/cursors/MoveRectangle.png) 16 16, default;
}

.partner-port:hover,
.children-port:hover {
  cursor: url(../resources/cursors/CreateLink.png) 16 16, default;
}

.description-textarea {
  cursor: url(../resources/cursors/MoveRectangle.png) 16 16, default;
}

.brush {
  fill: #4cb3f4;
  fill-opacity: 0.25;
}

.selection-area,
.brush {
  pointer-events: none;
}

.selection-area,
.brush rect {
  cursor: url(../resources/cursors/SelectionRectangular.png) 20 14, crosshair;
}

.group .group-area {
  cursor: move;
}

.group .pointer {
  cursor: move;
}

.goupp .group-textarea rect.background{
  stroke: none;
  stroke-width: 3px;
  fill-opacity: 0;
}

.group .textarea{
  cursor: url(../resources/cursors/MoveRectangle.png) 16 16, default;
}

.group .resizer {
    opacity: 0.25;
    cursor: nwse-resize/*url(../resources/cursors/ScaleTool.png) 17 17, nwse-resize;*/
}

.tooltip {  
  padding: .5em;  
  pointer-events: none;
  position: absolute; 
  border: 1px solid #fff;
  border-radius: 5px;
  color: #ccc;
/*
  background-color: #333;  */  
  background-color: blueviolet;
  font-size: 14px;
}

.tooltip td {
  padding-left: .2em;
  padding-right: .2em;
  padding-bottom: 3px;
  text-decoration: none;
  font-family: Verdana, sans-serif;
}

.tooltip td:nth-child(1) {
  text-align: right;  
}

.tooltip .tooltip-value {
  color: #fff;  
}

.tooltip .tooltip-info:last-of-type td, {
  padding-bottom: 3px;  
}

.tooltip .tooltip-info td, p.tooltip .node-tooltip-info.empty-info td{
  padding-bottom: 6px;
}

.modal-content {
  color: #9d9d9d;
}

.modal-content .btn-default {
  color: #9d9d9d;
  background-color: #555;
  border-color: #9d9d9d;
}

.modal-content .btn-default.active,
.modal-content .btn-default:hover,
.modal-content .btn-default :focus {
  background-color: #4d4d4d;
  color: #fff;
  border: 1px solid #fff;
}

.modal-content .modal-header,
.modal-content .modal-footer {
  background-color: #333333;
  border-bottom: 0px;
  border-top: 0px;
}

.modal-content .modal-header button,
.modal-content .modal-footer button {
  color: #9d9d9d;
}

.modal-content .modal-header button.btn-default,
.modal-content .modal-footer button.btn-default {
  background-color: #333333;
  border: 1px solid #555;
}

.modal-content .modal-header button.btn-default:hover,
.modal-content .modal-footer button.btn-default:hover {
  background-color: #272727;
}

.modal-content .modal-header button.btn-primary,
.modal-content .modal-footer button.btn-primary {
  background-color: #18354f;
}

.modal-content .modal-header button.btn-primary:hover,
.modal-content .modal-footer button.btn-primary:hover {
  background-color: #152d42;
}

.modal-content .modal-body {
  background-color: #555;
  border-bottom: 1px solid #9d9d9d;
  border-top: 1px solid #9d9d9d;
}

.modal-content .modal-body .btn-primary {
  background-color: #337ab7;
  border-color: #18354f;
}

.modal-content .modal-body .btn-primary:hover {
  background-color: #18354f;
}

.modal-content .modal-body .file-info.form-control {
  display: inline;
  width: auto;
  color: #333333;
}

input.form-control {
  background-color: #ededed;
}

.fixed-menu{
  min-height: 0px;
  border-width: 0px;
  padding-right: 0px;
  padding-left: 0px;
  overflow-y: auto;
}

.fixed-menu .navbar-nav a {
    margin-right: 15px;
    margin-left: 35px;
}

.context-menu {
  position: absolute;
  display: none;
}

.dropdown {
  position: absolute;
  z-index: 10000;
}

.navbar-inverse .dropdown-menu,
.context-menu .dropdown-menu {
  font-size: 14px;                          /* increased from 12 to 14 */
  min-width: 210px;                         /* increased from 185 to 200 caused by German language pack */
  background-color: #333333;
}

.context-menu .dropdown-menu:first-child{
  display:block;
  position:static;
  margin-bottom:5px;
}

.navbar-inverse .dropdown-menu li .cmd-text,
.context-menu .dropdown-menu li .cmd-text,
.fixed-menu li .cmd-text {
  float: right;
}

.navbar-inverse .dropdown-menu li .item-text,
.context-menu .dropdown-menu li .item-text
.fixed-menu li .item-text {
  display: inline-block;
}

.navbar-inverse .dropdown-menu li a,
.context-menu .dropdown-menu li a,
.fixed-menu .dropdown-menu li a {
  color: #9d9d9d;
  padding-left: 35px;
}

.navbar-inverse .dropdown-menu li a:hover,
.context-menu .dropdown-menu li a:hover,
.fixed-menu li a:hover {
  color: #fff;
  background-color: #080808;
}

.navbar-inverse .dropdown-menu li a .glyphicon,
.context-menu .dropdown-menu li a .glyphicon,
.fixed-menu li a .glyphicon {
  display: inline-block;
  margin-left: -25px;
  margin-right: 10px;
}

.navbar-inverse .dropdown-menu li a.disabled,
.context-menu .dropdown-menu li a.disabled,
.fixed-menu li a.disabled {
  pointer-events: none !important;
  color: #6c6c6c !important;
}

.navbar-inverse .navbar-form input.form-control {
	color: #fff;
  background-color: #434343;
  border-color: #080808;
}

.navbar-inverse .divider,
.context-menu .divider,
.fixed-menu .divider {
  background-color: #6c6c6c;
}

.navbar {
  margin-bottom: 0px;
}

.navbar .navbar-brand {
  cursor: default;
}

.navbar .navbar-brand:hover {
  color: #9d9d9d;
}

.navbar-right .navbar-form{
  display: inline-block;
}

.navbar-inverse .input-group-addon{
  background-color: #333333;
  border-color: #080808;
  color: #9d9d9d;
  top: 0px;
}

#search-icon{
  cursor: pointer;
}

nav.tree-name {
  min-height: 35px !important;
  height: 35px !important;
  background-color: #1a1a1a;
}

nav.tree-name .navbar-brand {
  min-height: 33px !important;
  height: 33px !important;
  padding: 9px 15px 9px 15px;
  font-size: 14px;
}

nav.tree-name .navbar-brand #loaded-tree-name {
  color: #b9d3c0;
}

nav.tree-name .navbar-brand #loaded-tree-name:hover {
  color: #b9d3c0;
}

nav.tree-name .navbar-brand #loaded-tree-name.modified {
  color: #d3b9b9;
}

nav.tree-name .navbar-brand #loaded-tree-name.modified:hover {
  color: #d3b9b9;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: #080808;
  color: #fff;
}

nav .open>.dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);   
}

nav .dropdown-menu {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  display: block;  
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-submenu .dropdown-menu.dropdown-menu-left {
    left: -100%!important;
    margin-left: -1px!important;
}

.dropdown-submenu .dropdown-menu.dropdown-menu-up {
    top: -300%!important;
}

.caret-right {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    margin-top: 4px;
}

nav#selection-in-touch-device{
    background-color: #337ab7;
    border-color: #18354f;
}

nav#selection-in-touch-device li a, 
nav#selection-in-touch-device li a:hover{
  color: #fff;
  padding-right: 10px;
  padding-left: 10px;
}

nav#selection-in-touch-device .navbar-nav>.open>a, 
nav#selection-in-touch-device .navbar-nav>.open>a:focus, 
nav#selection-in-touch-device .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #1c3f5d;
}

nav#selection-in-touch-device .dropdown-menu {
    background-color: #337ab7;
}

nav#selection-in-touch-device .dropdown-menu li a:hover {
  background-color: #1c3f5d;
}

nav#selection-in-touch-device .navbar-right{
  margin-right: 0px;
}

#selection-counter-menu{
  max-width: 140px;
}

.panel-default {
    border-color: #101010;
}

.panel {
    margin-bottom: 0px;
    background-color: #fff;
    border: 1px solid #101010;
    border-radius: 0px;
}

.panel-default>.panel-heading{
      background-color: #1c1c1c;
      color: #9d9d9d;
      border-color: #080808;;
}

.panel-heading{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel-body {
  padding: 0px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #32383e;
}

.table-dark {
    color: #9d9d9d;
    background-color: #222222;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: #303030;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid #101010;
}

.table>thead>tr>th {
    border-bottom: 2px solid #101010;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }

  .fixed-menu .navbar-nav{
    display: none !important;
  }
}

@media (max-width: 768px) {
  .modal-content .modal-body .file-info.form-control{
    width: 100%;
  }

  #field-file-format label {
    margin-bottom: 5px;
  }

  #field-file-name div {
    margin-top: 10px;
  }

  .navbar-right .navbar-form{
    margin-left: 0px;
    margin-right: 0px;
  }

  .navbar-inverse .dropdown-menu li a,
  .context-menu .dropdown-menu li a {
    padding-left: 35px!important;
    padding-right: 15px!important;
  }

  .navbar-inverse .dropdown-menu li a .glyphicon,
  .context-menu li a .glyphicon{
    display: inline-block;
    margin-left: -25px!important;
    margin-right: 10px!important;
  }

  nav#selection-in-touch-device .navbar-nav {
    margin: 5px 0px;
  }

  nav#selection-in-touch-device .nav, nav#selection-in-touch-device .nav>li {
    position: relative;
    display: inline-block;
    float: left;
  }

  nav#selection-in-touch-device .navbar-right {
    float: right;
  }
}

.languages{
    min-width: 50px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}
